<%- partial(theme.header && theme.header.partial || '_ksio/partials/header') %>
<main class="Page-content">
  <article class="Homepage">
    <header class="Homepage-header">
      <h1><%= config.title %></h1>
      <p class="Homepage-slogan"><%= config.subtitle %></p>
      <p class="GetStarted"><a href="https://lime-theme.github.io">Get Started<i class="fa fa-long-arrow-right"></i></a></p>
    </header>
  </article>
</main>
<%- partial(theme.footer && theme.footer.partial || '_ksio/partials/footer') %>
