@import "../../helper";
@import "../../ksio/components/card";

.HomeHeader {
  text-align: center;

  &-title {
    margin-bottom: 25px !important;
    font-size: 70px !important;
    font-weight: 700;
  }

  &-slogan {
    margin-bottom: 10px !important;
    font-size: 25px;
    font-weight: normal;
  }
}

.Grid {
  $gap: 7.5px;

  margin: 0 -$gap;

  &,
  * {
    @include box-sizing(border-box);
  }

  @include clearfix;

  &-item {
    width: 100%;
    float: left;
    padding: $gap;

    @media (min-width: $screen-sm-min) {
      width: 50%;
    }

    @media (min-width: $screen-md-min) {
      width: percentage(1 / 4);
    }
  }

  &--twoCols &-item {
    @media (min-width: $screen-md-min) {
      width: 50%;
    }
  }

  &--threeCols &-item {
    @media (min-width: $screen-md-min) {
      width: percentage(1 / 3);
    }
  }

  & &-item:first-child {
    margin-top: 0;
  }
}

.Person {
  height: 240px;
  font-size: 14px;

  &-link {
    padding: 0;
    font-size: inherit;
  }

  &-header {
    position: relative;
    height: 120px;
    margin-bottom: 52px;
    background: {
      position: 50% 50%;
      repeat: no-repeat;
      size: cover;
      color: #f0f0f0;
    }
  }

  &-brief {
    position: absolute;
    top: 100%;
    right: 0;
    left: 0;
    overflow: hidden;
    padding: 0 15px;
  }

  &-name {
    margin: 25px 0 0;
    font-size: 18px !important;
    color: #333;
  }

  &-body {
    padding: 0 15px 15px;
    line-height: 1.5;
  }

  &-description {
    overflow: hidden;
    text-overflow: ellipsis;
    display: -webkit-box;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;
  }
}

.PostList {
  $gap: 7.5px;

  margin: 0 -$gap;

  &,
  * {
    @include box-sizing(border-box);
  }

  @include clearfix;

  &-item {
    width: 100%;
    float: left;
    padding: $gap;

    &:not(:first-child) {
      @media (min-width: $screen-sm-min) {
        width: 50%;
      }

      @media (min-width: $screen-md-min) {
        width: percentage(1 / 3);
      }

      @media (min-width: $screen-lg-min) {
        width: 25%;
      }
    }
  }
}

.Post {
  display: block;
  font-size: 16px;
  background: #0871ab none no-repeat 50% 50%;
  background-size: cover;

  p {
    margin-bottom: 0;
    line-height: 1.5;
  }

  .Card-link {
    background-color: rgba(0, 0, 0, .3);

    &,
    &:hover {
      color: #fff !important;
    }
  }

  &-title {
    margin: 0;
    line-height: 1.5;
    @include text-ellipsis;
  }

  &-brief {
    margin: 5px 0 15px !important;
  }

  &-meta {
    font-size: 12px;
  }

  @media (min-width: $screen-sm-min) {
    &--latest {
      position: relative;
      display: block;

      .Card-link {
        position: static;
        display: block;
        padding: 80px 48px 48px;
        font-size: inherit;
        line-height: inherit;
      }
    }

    &--latest &-title {
      font-size: 48px;
    }

    &--latest &-brief {
      margin-bottom: 0 !important;
    }

    &--latest &-meta {
      position: absolute;
      top: 48px;
      left: 48px;
      font-size: inherit;
      font-weight: 400;
    }
  }
}
